.first, .second {
    @media screen and (max-width: 430px){
        flex-basis: 100%;
    }

    position:relative;
    flex-basis: 50%;
}

.desktop {
    @media screen and (max-width:430px){
        display:none;
    }
}

.mobile {
    @media screen and (max-width:430px) {
        display:block;
    }
    display:none;
}

.show-nav {
    top: 0;
}

.the-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.cta {
    @media screen and (max-width:1728px){
        width: 10.5vw;
        font-size: 1vw;
        height: 2.7vw;
    }
    @media screen and (max-width:430px) {
        width: 42.2vw;
        height: 10.6vw;
        font-size: 4.5vw;
    }
    text-decoration: none;
    color: #fff;
    width: 180px;
    height: 45px;
    display: inline-flex;
    background: #000;
    font-family: 'Segoe UI';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 0 0 1vw;
 }