.wrapper {
  max-width: 1728px;
  margin: 0 auto;
}
.wrapper .class-page {
  width: 1030px;
  margin: 0 auto;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page {
    width: 100%;
  }
}
.wrapper .class-page h2 {
  text-align: center;
  margin: 35px 0 10px;
  font-size: 1.5vw;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page h2 {
    font-size: 1.5vw;
  }
}
.wrapper .class-page p {
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-family: "robotoregular";
  margin: 4% 0;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page p {
    font-size: 0.9vw !important;
    line-height: 1.5vw !important;
  }
}
@media screen and (max-width: 1440px) {
  .wrapper .class-page p {
    text-align: center !important;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .class-page p {
    font-size: 3.7vw;
    line-height: 5.5vw;
  }
}
.wrapper .class-page .c1 {
  position: relative;
}
@media screen and (max-width: 430px) {
  .wrapper .class-page .c1 {
    background: #000;
    padding: 4vw 0;
  }
}
.wrapper .class-page .c1 h1 {
  text-align: center;
  font-family: "segoe_uibold";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
}
.wrapper .class-page .c1 h1 img {
  width: 119px;
}
.wrapper .class-page .c1 h1 img.left-saber {
  position: relative;
  right: 76px;
}
.wrapper .class-page .c1 h1 img.right-saber {
  position: relative;
  left: 76px;
}
.wrapper .class-page .c1 .video {
  background: black;
  height: 315px;
  position: relative;
  text-align: center;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .video {
    height: 18.3vw;
  }
}
.wrapper .class-page .c1 .video video {
  height: 315px;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .video video {
    height: 18.2vw;
  }
}
.wrapper .class-page .c1 .video img {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
}
.wrapper .class-page .c1 .video img.left {
  left: 66px;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .video img.left {
    left: 6%;
  }
}
.wrapper .class-page .c1 .video img.right {
  right: 66px;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .video img.right {
    right: 6%;
  }
}
.wrapper .class-page .c1 .the-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
@media screen and (max-width: 430px) {
  .wrapper .class-page .c1 .the-content {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
  }
}
.wrapper .class-page .c1 .the-content h1 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-family: "segoe_uibold";
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .the-content h1 {
    font-size: 2vw;
    line-height: 2vw;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .class-page .c1 .the-content h1 {
    font-size: 6vw;
    line-height: 8vw;
  }
}
.wrapper .class-page .c1 .the-content p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: "robotoregular";
  margin: 4% 0;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c1 .the-content p {
    font-size: 0.9vw;
    line-height: 1.5vw;
  }
}
@media screen and (max-width: 430px) {
  .wrapper .class-page .c1 .the-content p {
    font-size: 3.7vw;
    line-height: 5.5vw;
  }
}
.wrapper .class-page .c1 .the-content a {
  color: #fff;
  background: #e20c13;
  font-family: "segoe_uibold";
}
.wrapper .class-page .c1 p {
  font-family: "robotoregular";
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c2 .full-width,
  .wrapper .class-page .c3 .full-width,
  .wrapper .class-page .c4 .full-width {
    width: 100%;
  }
}
.wrapper .class-page .c2 div,
.wrapper .class-page .c3 div,
.wrapper .class-page .c4 div {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.wrapper .class-page .c2 div p,
.wrapper .class-page .c3 div p,
.wrapper .class-page .c4 div p {
  margin: 0;
}
.wrapper .class-page .c2 p,
.wrapper .class-page .c3 p,
.wrapper .class-page .c4 p {
  text-align: left;
  margin: 0 0 40px;
}
.wrapper .class-page .c2 ol,
.wrapper .class-page .c3 ol,
.wrapper .class-page .c4 ol,
.wrapper .class-page .c2 ul,
.wrapper .class-page .c3 ul,
.wrapper .class-page .c4 ul {
  padding: 0;
  list-style-position: inside;
  text-align: left;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c2 ol,
  .wrapper .class-page .c3 ol,
  .wrapper .class-page .c4 ol,
  .wrapper .class-page .c2 ul,
  .wrapper .class-page .c3 ul,
  .wrapper .class-page .c4 ul {
    line-height: 1.5vw;
    font-size: 0.9vw;
  }
}
.wrapper .class-page .c3 {
  margin: 40px 0 0 0;
}
.wrapper .class-page .c3 p {
  text-align: center;
}
.wrapper .class-page .c3 div p {
  text-align: left;
}
.wrapper .class-page .c4 {
  text-align: center;
  margin: 20px 0;
}
.wrapper .class-page .c4 p {
  text-align: center;
}
.wrapper .class-page .c4 a {
  background: #E20C13;
  color: #fff;
  border: 1px solid #000;
}
.wrapper .class-page .c4 ul {
  display: inline-block;
  list-style-position: outside;
  text-align: left;
}
.wrapper .class-page .c4 ul:first-of-type {
  margin: 0 40px 0 0;
}
@media screen and (max-width: 1728px) {
  .wrapper .class-page .c4 ul:first-of-type {
    margin: 0 3vw 0 0;
  }
}
/*# sourceMappingURL=css/class-page.css.map */