footer {
    @media screen and (max-width: 1728px) {
        font-size: 1vw;
        line-height: 1.4vw;
    }
  max-width: 1728px;
  margin: 3% auto;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
  


img {
  @media screen and (max-width: 1728px) {
    width: 7.2vw;
  }
  margin: 0 0 1vw;
}

address {
  margin: 0 0 1vw;

  a{
    text-decoration: none;
    color: #000;
  }
}
}