.wrapper {
    max-width: 1728px;
    margin: 0 auto;

    .c1 {
        position: relative;

        img {
            width:100%;
        }

        .the-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50%);
            text-align: center;

            h1 {
                font-size: 24px;
                line-height: 32px;
                text-align: center;
                color: #fff;
                font-family: 'segoe_uibold';
            }

            video {
                width: 560px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: #fff;
                font-family: 'robotoregular';
                margin: 4% 0;
            }
            a {
                color: #fff;
                background: #E20C13;
                font-family: 'segoe_uibold';
            }
        }

    }

    .c2 {
        display: flex;
        position: relative;
        margin: -1% 0 0 0;
        .first, 
        .second {
            .the-content {
                transform: translate(0, -50%);
                top: 78%;
                h2{
                    font-size: 24px;
                    line-height: 32px;
                    color: #fff;
                    font-family: 'segoe_uibold';
                }
                a {
                    background: #fff;
                    color: #000;
                }
            }

        }
    

    }

    .c3 {
        position: relative;
        margin: -1% 0 0;
        
        .the-content {
            transform: translate(0, -50%);
            top: 78%;
            h2{
                font-size: 24px;
                line-height: 32px;
                color: #fff;
                font-family: 'segoe_uibold';
            }
            a {
                background: #fff;
                color: #000;
            }
        }

    }

}   