@font-face {
  font-family: 'robotoregular';
  src: url('roboto-regular-webfont.woff2') format('woff2'), url('roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'segoe_uibold';
  src: url('segoeuib-webfont.woff2') format('woff2'), url('segoeuib-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
img,
video {
  max-width: 100%;
}
p,
ul,
ol {
  text-align: center;
  margin: 0px;
  font-family: 'robotoregular';
  font-size: 16px;
  line-height: 24px;
}
body {
  margin: 0px;
  background-color: #ffffff;
}
h1,
h2 {
  font-size: 32px;
  text-align: center;
  font-family: 'segoe_uibold';
}
@media screen and (max-width: 1728px) {
  h1,
  h2 {
    font-size: 1.5vw;
  }
}
@media screen and (max-width: 430px) {
  h1,
  h2 {
    font-size: 6vw;
  }
}
header {
  max-width: 1728px;
  margin: 0 auto;
}
header .mobile-nav {
  display: none;
}
@media screen and (max-width: 430px) {
  header .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  header .mobile-nav .lines {
    position: absolute;
    left: 4%;
  }
  header .mobile-nav .lines span {
    border-top: 2px solid;
    width: 12vw;
    height: 1px;
    display: block;
    margin: 0 0 10px;
  }
  header .mobile-nav .lines span:last-of-type {
    margin: 0;
  }
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 100px;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (max-width: 430px) {
  header ul {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    top: -100%;
    transition: top 0.5s;
  }
}
@media screen and (max-width: 430px) {
  header ul li {
    flex-basis: 96%;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vw 0;
  }
  header ul li:first-of-type {
    flex-basis: 100%;
    border: none;
    position: relative;
  }
  header ul li:first-of-type .lines {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translate(0, -50%);
    width: 60px;
    height: 60px;
  }
  header ul li:first-of-type .lines span {
    border-top: 2px solid;
    width: 10vw;
    display: block;
    position: absolute;
    rotate: -45deg;
    top: 50%;
    left: 20%;
  }
  header ul li:first-of-type .lines span:last-of-type {
    rotate: 45deg;
  }
  header ul li:first-of-type img {
    width: 22vw;
  }
  header ul li:last-of-type {
    display: flex;
    background: #E20c13;
  }
  header ul li:last-of-type a {
    color: #fff;
  }
}
header ul li a {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'segoe_uibold';
  text-decoration: none;
  color: #000000;
}
@media screen and (max-width: 1728px) {
  header ul li a {
    font-size: 1vw;
  }
}
@media screen and (max-width: 430px) {
  header ul li a {
    font-size: 6vw;
    line-height: 8vw;
  }
}
@media screen and (max-width: 1728px) {
  header ul li a img {
    width: 5.8vw;
  }
}
footer {
  max-width: 1728px;
  margin: 3% auto;
  text-align: center;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 24px;
}
@media screen and (max-width: 1728px) {
  footer {
    font-size: 1vw;
    line-height: 1.4vw;
  }
}
@media screen and (max-width: 430px) {
  footer {
    font-size: 3.7vw;
    line-height: 5.5vw;
  }
}
footer img {
  margin: 0 0 1vw;
}
@media screen and (max-width: 1728px) {
  footer img {
    width: 7.2vw;
  }
}
@media screen and (max-width: 430px) {
  footer img {
    width: 29.1vw;
  }
}
footer address,
footer p {
  font-family: 'robotoregular';
}
@media screen and (max-width: 430px) {
  footer address,
  footer p {
    margin: 4vw 0 !important;
  }
}
footer address {
  margin: 0 0 1vw;
}
footer address a {
  text-decoration: none;
  color: #000;
}
.first,
.second {
  position: relative;
  flex-basis: 50%;
}
@media screen and (max-width: 430px) {
  .first,
  .second {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 430px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media screen and (max-width: 430px) {
  .mobile {
    display: block;
  }
}
.show-nav {
  top: 0;
}
.the-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.cta {
  text-decoration: none;
  color: #fff;
  width: 180px;
  height: 45px;
  display: inline-flex;
  background: #000;
  font-family: 'Segoe UI';
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin: 0 0 1vw;
}
@media screen and (max-width: 1728px) {
  .cta {
    width: 10.5vw;
    font-size: 1vw;
    height: 2.7vw;
  }
}
@media screen and (max-width: 430px) {
  .cta {
    width: 42.2vw;
    height: 10.6vw;
    font-size: 4.5vw;
  }
}
/*# sourceMappingURL=css/styles.css.map */